@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Poppins:wght@100;200;300;400;500;600&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
background:black;
}



ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.keen-slider__slide{
  max-width: 100px !important;
  width: 100px !important;
}